body { width: 260px;  }
.control-label { display: block; font-weight: bold; border-bottom: 1px solid #dddddd; margin-bottom: 5px; }
.radio { display: block; min-height: 20px; padding-left: 20px; }
.radio input[type="radio"] { float: left; margin-left: -20px; }
.radio small { color: #888888; }
